.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.chat-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.button {
    margin-top: 5px;
}